<div class="container">
  <h3>My Project Portfolio</h3>
  <ol>
    <li>
      <a href="https://github.com/stevewarsa" target="_blank"
        >My Git Hub Page</a
      >
    </li>
    <li>
      <a
        href="https://play.google.com/store/apps/developer?id=psalms119v11"
        target="_blank"
        >My Google Play Apps</a
      >
    </li>
    <li>
      <a href="http://www.ps11911.com/nuggets" target="_blank"
        >Nuggets Site I Developed (Angular 6)</a
      >
    </li>
    <li>
      <a href="http://www.bridgewaycc.org/" target="_blank"
        >Church Web Site I Designed, Developed and maintain</a
      >
    </li>
  </ol>
</div>
