<div class="container">
  <!-- TODO: remove this inline style -->
  <div class="card" style="max-width: 600px; text-align: center;">
    <img
      class="card-img-top"
      src="assets/steve.png"
      alt="Steve Warsa Picture"
    />
    <div class="card-body">
      <h4 class="card-title">Steve Warsa</h4>
      <p class="card-text">
        I.T. Architect with a passion for &quot;hand&apos;s on&quot; technology
        and years of experience in enterprise web development with Java, Spring
        and Angular
      </p>
      <a [routerLink]="['/resume']" class="btn btn-primary">See Profile</a>
    </div>
  </div>
</div>
