<div class="container">
  <div class="jumbotron">
    <h1>Objective</h1>
    <p>
      To obtain an Angular/Java based software development position, which
      leverages my strong technical skills
    </p>
  </div>
  <div class="jumbotron">
    <h1>Profile</h1>
    <ul>
      <li>
        Modern Web Development Angular, Bootstrap, JBoss and Java w/ Spring
        &amp; REST
      </li>
      <li>IBM Certified WebSphere 7 Administrator (2007)</li>
      <li>Sun Certified Programmer for the Java 2 Platform (1999)</li>
      <li>Sun Certified Developer for the Java 2 Platform (2001)</li>
      <li>OOAD / OOP, DDL / DML, Design Patterns</li>
      <li>Agile Methodologies</li>
      <li>
        Experience with JEE (EJB, JNDI, LDAP, Servlets), PHP, Python, XML,
        Spring Framework, JDBC, SQL, and much more
      </li>
      <li>Relational Database, some MongoDB</li>
      <li>Eclipse, VS Code</li>
      <li>Mentoring / training of other developers</li>
      <li>Requirements Analysis, Application Design and Coding Experience</li>
    </ul>
  </div>
  <div class="jumbotron">
    <h1>Work Experience</h1>
    <h4>
      2000 - Present Tech Data (formerly Avnet Technology Solutions) Tempe, AZ
    </h4>
    <h4><strong>I.T. Architect SR.</strong></h4>
    <ul>
      <li>
        Designing and developing applications using Java / JEE / Spring /
        Angular
      </li>
      <li>
        Tools / Platforms: Intellij IDEA, Eclipse (Oxygen and below), VS Code,
        RAD 8, JBoss, WAS 7, Linux, Windows 7/10, Git(lab/hub), Subversion
      </li>
      <li>OOAD / OOP / Patterns / Frameworks</li>
      <li>Coding, testing and implementation</li>
    </ul>
    <h4>
      1987 - 2000 eFunds Solutions Group (formerly and now a subsidiary of
      Deluxe Corporation) Shoreview, MN
    </h4>
    <h4><strong>Senior Programmer Analyst</strong></h4>
    <ul>
      <li>
        Designing and developing applications using Java, Cold Fusion, Visual
        Basic, ActiveX, JavaScript and Java Server Pages
      </li>
      <li>Taught a 10 week "Intro to Java Programming" course (in-house)</li>
      <li>Doing Java development on the mainframe (OS/390)</li>
      <li>OOAD / OOP / Patterns / Frameworks</li>
      <li>Data modeling, implementation, and GUI design</li>
      <li>
        Java experience with both server (Sockets, RMI, Servlets, JSP) and
        client (AWT, Swing, Applets)
      </li>
      <li>Coding, testing and implementation</li>
      <li>Application Architecture</li>
      <li>Platforms: Windows 95/NT, UNIX, OS390 - Unix Services</li>
    </ul>
    <h4><strong>Business Systems Analyst</strong></h4>
    <ul>
      <li>Defining and documenting Business Requirements</li>
      <li>
        Facilitating and participating in Joint Application Development Sessions
      </li>
      <li>Preparing Business Case / Business Plan</li>
      <li>GUI Design</li>
      <li>High Level Application Architecture</li>
      <li>Process Models</li>
      <li>Data Models</li>
    </ul>
    <h4><strong>Department Manager</strong></h4>
    <h5><strong>(check printing plant)</strong></h5>
    <ul>
      <li>12 - 30 hourly employees</li>
      <li>Wage Administration</li>
      <li>Performance Reviews</li>
      <li>
        Ultimate responsibility for the success or failure of my department.
      </li>
    </ul>
  </div>
  <div class="jumbotron">
    <h1>Education</h1>
    <h4><strong>Microsoft Certification Training</strong></h4>
    <h6><em>1997 - 1998 Century College White Bear Lake, MN</em></h6>
    <ul>
      <li>Microsoft Visual Basic 5.0 Professional Edition</li>
    </ul>
    <h6><em>1997 - 1998 ICS Learning Systems Scranton, PA</em></h6>
    <ul>
      <li>Microsoft Visual C++ 4.0 Professional Edition</li>
    </ul>
    <h4><strong>Java Training</strong></h4>
    <h6><em>1998 Dakota County Technical College Eagan, MN</em></h6>
    <ul>
      <li>Java Programming with Java 1.1</li>
      <li>Advanced Java Programming with Java 1.1</li>
    </ul>
    <h6><em>1999 Century College White Bear Lake, MN</em></h6>
    <ul>
      <li>Object Oriented Programming with Java - Grade - A</li>
    </ul>
    <h4><strong>Master's Work</strong></h4>
    <h6><em>1996 - 1997 University of Phoenix Salt Lake City, UT</em></h6>
    <ul>
      <li>
        Completed 7 classes toward Master’s Degree in Computer Information
        Systems - approximately 25% complete
      </li>
    </ul>
    <h4><strong>Bachelor of Science - Psychology</strong></h4>
    <h6><em>1980 - 1984 Elmhurst College Elmhurst, IL</em></h6>
    <ul>
      <li>3.2 Overall GPA, 3.6 GPA in Major</li>
    </ul>
    <h4><strong>Seminars</strong></h4>
    <ul>
      <li>Java University (at JavaOne) 2005</li>
      <li>Agile Conference, Denver 2005</li>
      <li>Clear Case / Clear Quest training 2001 (Rational)</li>
      <li>Visual Age for Java / WAS Training 2001 (Unity Software)</li>
      <li>Java University (at JavaOne) 2000</li>
      <li>
        Fundamentals of UML using Popkin's System Architect 1999 (Doreen Evans
        and Associates)
      </li>
      <li>Using UNIX 1999 (Denning Training Services)</li>
      <li>HTML Web Page Development 1998 (Euler)</li>
      <li>
        Allaire's Cold Fusion Web Database Development 1998 (Born Consulting)
      </li>
      <li>
        Structured Systems Analysis and Design 1998 (Watermark Technical
        Services)
      </li>
      <li>Consulting Skills 1997 (CSC Consulting)</li>
      <li>Business Analysis Techniques 1997 (LBMS)</li>
      <li>
        Managing Business Requirements 1997 (Watermark Technical Services)
      </li>
      <li>
        Microsoft Access 7.0 (Beginner and Intermediate) 1997 (Deluxe Corp.)
      </li>
      <li>Lotus Notes 4.0 (Fundamentals) 1997 (Deluxe Corp.)</li>
      <li>Reading and Interpreting Financial Statements 1996 (Deluxe Corp.)</li>
      <li>Orchestrating Team Performance 1994 (Deluxe Corp.)</li>
      <li>Business As Unusual 1994 (Deluxe Corp.)</li>
    </ul>
  </div>
  <div class="jumbotron">
    <h1>References</h1>
    <p>Available upon request</p>
  </div>
</div>
